# Backend API URL
# En desarrollo local: http://<tu-ip-local>:3000 o http://10.0.2.2:3000 (para emulador de Android)
# En producción: https://api.tu-dominio.com
EXPO_PUBLIC_API_BASE_URL=http://api.d-firu.com
